
html, body {
  position: relative;
  height: 100%;
  margin: 0;
  font-family: Source Sans Pro; font-weight: 400;
}

section {
  position: relative;
  z-index: 1;
}

section .overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: #000;
}


.quote {
  font-family: Source Sans Pro; font-weight: 300; font-size: 2.5rem;
  line-height: 1.4;
}



section.intro {
  background-color: #000; color: #fff;
}

section.intro h1 {
  display: block; position: fixed;
  top: 50vh;
  margin: 0; padding: 0;
  font-family: Aldrich; font-size: 7rem; font-weight: 700;
  line-height: 6.5rem;
  text-transform: uppercase;
  transform: translateY(-50%);
  opacity: 0; filter: alpha(opacity=0);
  /*color: #ff0;*/
  /*text-shadow: 0 0 1px rgba(0, 0, 0, .5);*/

}

section.intro .introBackground {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-repeat: no-repeat; background-position: 50% 0%; background-size: cover;
}


section.intro .introText {
  display: block; position: absolute;
  top: 50vh;
  font-size: 1.75rem; font-weight: 300;
  transform: translateY(-50%);
}



section.outro {
  background-color: #000;
  padding-bottom: 30vh;
}

section.outro .outroText {
  width: 700px;
  margin: 15vh auto;
  color: #eee;
  font-size: 18px; font-weight: 300;
  line-height: 1.75;
}



.row {
  display: block; position: relative;
  width: 900px;
  margin: 0 auto;
}

.screen {
  height: 100vh;
}

.splash {
  display: block; position: relative; overflow: hidden;
  height: 100vh;
  color: #fff;
  background-color: #000;
  background-repeat: no-repeat; background-position: 50% 0%; background-size: cover;
  z-index: 1;
}

section.chapter .quote {
  display: block; position: absolute;
  top: 50%;
  width: 100%;
  color: #fff;
  text-align: center;
  transform: translateY(-50%);
}

section.chapter .quote:before { content: "«";}
section.chapter .quote:after { content: "»";}

section.chapter  .title {
  display: block; position: fixed;
  top: 50%;
  max-width: 800px;
  font-family: Aldrich; font-size: 6rem; font-weight: 700;
  line-height: 6rem;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(-50%);
}

section.chapter .year {
  font-family: Source Sans Pro;
  display: block;
  margin-top: -1.5rem;
  font-size: 4rem;
}

section.chapter .content {
  position: relative;
  background-color: #fff;
  z-index: 2;
}

section.chapter .text {
  padding: 64px 0;
}

.sticky-wrapper + .text, .mapContainer + .text {
  margin-top: 96px;
}

section.chapter .text:last-child {
  padding-bottom: 15vh;
}

section.chapter .text p {
  width: 700px;
  margin-left: auto; margin-right: auto;
  color: #333;
  font-size: 18px;
  line-height: 1.75;
}

section.chapter span.place {
  border-bottom: solid 2px #aaa;
  cursor: pointer;
  transition: 0.25s;
}



section[data-id='1'] span.place { border-color: #999933; color: #999933; }
section[data-id='2'] span.place { border-color: #4821d9; color: #4821d9; }
section[data-id='3'] span.place { border-color: #ccad14; color: #ccad14; } /* From #f2ce18; */
section[data-id='5'] span.place { border-color: #e51300; color: #e51300; }
section[data-id='6'] span.place { border-color: #74b336; color: #74b336; }
section[data-id='7'] span.place { border-color: #93f; color: #93f; }
section[data-id='8'] span.place { border-color: #b35995; color: #b35995; }
section[data-id='9'] span.place { border-color: #bf8f4c; color: #bf8f4c; }
section[data-id='10'] span.place { border-color: #36f; color: #36f; }
section[data-id='11'] span.place { border-color: #f36; color: #f36; }
section[data-id='13'] span.place { border-color: #36c; color: #36c; }






.mapContainer {
  display: block; position: relative;
  width: 100%; min-height: 400px; height: 45vh;
  background-color: #fff; margin-bottom-bottom: 4px;
  z-index: 2;
}


.mapContainer > .title {
  position: absolute;
  top: 8px; right: 6px; max-width: 180px;
  color: #333;
  font-size: 1rem; font-family: Aldrich;
  text-transform: uppercase; text-align: right;
  z-index: 2;
}


#map {
  position: absolute; top: 0; right: 0; bottom: 4px; left: 0;
  z-index: 1;
}


a.logocf {
  display: block; position: fixed;
  top: 6px; right: 6px;
  width: 110px; height: 50px;
  outline: none; color: inherit; text-decoration: none;
  z-index: 500;
}


.menu {
  display: block; position: fixed;
  top: 6px; left: 6px;
  outline: none; color: inherit; text-decoration: none;
  z-index: 500;
  background-color :rgba(255, 0, 0, 0.75);
  color: #fff;
  cursor: pointer;
}