
html, body {
  position: relative;
  height: 100%;
  margin: 0;
}


body {}

section {
  position: relative;
  z-index: 1;
}

.row {
  display: block; position: relative;
  width: 900px;
  margin: 0 auto;
}

.screen {
  height: 100vh;
}

.splash {
  position: relative; overflow: hidden;
  display: block;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  z-index: 1;
}

.splash > .overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: #000; opacity: 1;
}

.splash .quote {
  display: block; position: absolute;
  top: 50%;
  width: 100%;
  color: #fff;
  font-family: Source Sans Pro; font-weight: 300; font-size: 2.5rem;
  line-height: 1.4;
  text-align: center;
  transform: translateY(-50%);
}

.quote:before { content: "«";}
.quote:after { content: "»";}

.splash .title {
  display: block; position: fixed;
  top: 50%;
  max-width: 800px;
  font-family: Aldrich; font-size: 6rem; font-weight: 700;
  line-height: 6rem;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(-50%);
}

.year {
  font-family: Source Sans Pro;
  display: block;
  margin-top: -1.5rem;
  font-size: 4rem;
}

.content {
  position: relative;
  background-color: #fff;
  z-index: 2;
}

.text {
  padding: 64px 0;
}

.sticky-wrapper + .text, .mapContainer + .text {
  margin-top: 96px;
}


.text:last-child {
  padding-bottom: 35vh;
}

.text p {
  width: 600px;
  margin-left: auto; margin-right: auto;
  color: #333;
  font-size: 17px;
  line-height: 1.75;
}

section span.place {
  border-bottom: solid 2px #aaa;
  cursor: pointer;
  transition: 0.25s;
}

section[data-id='2'] span.place { border-color: #4821d9; color: #4821d9; }
section[data-id='3'] span.place { border-color: #ccad14; color: #ccad14; } /* From #f2ce18; */
section[data-id='5'] span.place { border-color: #e51300; color: #e51300; }
section[data-id='6'] span.place { border-color: #74b336; color: #74b336; }
section[data-id='7'] span.place { border-color: #93f; color: #93f; }
section[data-id='8'] span.place { border-color: #b35995; color: #b35995; }
section[data-id='9'] span.place { border-color: #bf8f4c; color: #bf8f4c; }
section[data-id='10'] span.place { border-color: #36f; color: #36f; }
section[data-id='11'] span.place { border-color: #f36; color: #f36; }






.mapContainer {
  display: block; position: relative;
  width: 100%; height: 55vh;
  background-color: #fff; margin-bottom-bottom: 4px;
  z-index: 2;
}


.mapContainer > .title {
  position: absolute;
  top: 8px; right: 6px; max-width: 180px;
  color: #333;
  font-size: 1rem; font-family: Aldrich;
  text-transform: uppercase; text-align: right;
  z-index: 2;
}


#map {
  position: absolute; top: 0; right: 0; bottom: 4px; left: 0;
  z-index: 1;
}

.videothumb {
  display: block; overflow: hidden;
  width: 200px;
  height: 150px; line-height: 150px;
  color: rgba(255, 255, 255, 0.85);
  background-position: 50% 50%; background-repeat: no-repeat; background-color: #000; background-size: contain;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

.videothumb:before {
  font-family: icons;
  content: "\e800";
}



